body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/images/generated_location_placeholder.png');
}

.computers {
  height: 400px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.computer {
  height: 200px;
  width: 200px;
  background: center/contain url('/images/computer_off.png') no-repeat;
}

#screen {
  position: absolute;
  height: 700px;
  width: 1000px;
  background: center/contain url('/images/screen_placeholder.png') no-repeat;
}

.show {
  display: block;
}

.hide {
  display: none;
}