@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #5bf870;
}

#game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/images/generated_location_placeholder.png');
}

.computers {
  height: 400px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.computer {
  height: 150px;
  width: 150px;
  background: center/contain url('/images/computer_off.png') no-repeat;
}

.pos_abs {
  position: absolute;
}

#terminal {
  position: absolute;
  height: 700px;
  width: 1000px;
  background: center/contain url('/images/screen_placeholder.png') no-repeat;
}

#terminal_output {
  position: absolute;
  top: 140px;
  right: 190px;
  bottom: 140px;
  left: 180px;
  /* border: 2px red solid; */
}

.typed {
  display: block;
}

.typed-cursor {
  opacity: 1;
  font-weight: 200;
  animation: blink 0.7s infinite;
}

.show {
  display: block;
}

.hide {
  display: none;
}